@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  /* background-color: white; */
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 20px;
  /* width: 100%; */
}

.navigation {
  position: fixed;
  right: 10px;
  padding: 10px;
  margin: 10px;
}
.navigation a {
  color: black;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}
.navigation i {
  padding: 8px;
}

.navigation a:hover {
  color: #4baabd;
}
.navigation a:visited {
  color: #d1884f;
}
section {
  padding: 100px 200px;
}
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  /* background: url(../images/background.jpg) no-repeat;*/
  background-size: contain;
  background-position: right center;
  background-color: #fff;
  background-attachment: fixed;
}
.main #article {
  font-size: 1.6em;
  font-weight: 500;
}
.main #article h2 {
  font-weight: 400;
  font-size: 0.9em;
  color: #27badb;
  padding: 15px;
}
.main #greet {
  display: inline-block;
  margin-top: 10px;
  color: #008db0;
  font-size: 2em;
  font-weight: 600;
  /* text-justify: auto; */
  text-align: justify;
  text-justify: auto;
}
.main #Engineer {
  display: inline-block;
  margin-left: -40px;
  color: #d1884f;
  font-weight: 600;
  font-size: 2em;
}

.main h3 {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#see-more {
  color: #40a9bf;
  font-size: 0.9rem;
  display: inline-block;
  margin-top: -1000px;
  cursor: pointer;
}
.main-btn {
  color: #f0f0f0;
  background-color: #028aa9;
  text-decoration: none;
  font-size: 1.1em;
  /* font-weight: 600; */
  display: inline-block;
  padding: 0.175em 0.75em;
  letter-spacing: 1px;
  border-radius: 5px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}
.main-btn:hover {
  background-color: #028aa9;
  transform: scale(1.1);
  color: white;
  text-decoration: none;
}
/*right btn css*/
.Proj-btn {
  border-color: #61b0c5;
  color: #61b0c5;
  padding: 2px;
  text-decoration: none;
  display: inline-block;
  padding: 0.175em 0.75em;
  letter-spacing: 1px;
  border: 1px solid;
  border-radius: 5px;

  /* transoform: scale(1.1); */
}
/*right btn hover css*/
.Proj-btn:hover {
  color: white;
  background-color: #61b0c5;
  /* transform: scale(1.1);*/
  text-decoration: none;
}
.rs-element img {
  max-width: 350px;
  max-height: 350px;
  box-shadow: -10px 10px #81d4e8;
  border-radius: 0% 0% 0% 45%;
}
figure {
  margin-left: 55%;
}
/* .rs-element img::before {
} */

#desc {
  text-align: justify;
  font-size: 0.9rem;
}
/*end of main section*/
.social-icons a {
  color: #008db0;
  font-size: 1.7em;
  padding-right: 30px;
}
.title,
#project-title {
  display: flex;
  justify-content: center;
  color: #008db0;
  font-size: 2.2em;
  font-weight: 800;
  /* margin-bottom: 30px; */
  margin: 30px;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  width: 15.25em;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
}
.card:hover {
  transform: scale(1.1);
  transition: 0.7s ease;
}

.icon {
  color: #40a9bf;
  font-size: 7em;
  text-align: center;
}
.info {
  justify-content: center;
  text-align: center;

}
.info h3 {
  color: #008db0;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}
#email{
  text-align: center;
font-size: 1em;
}

.projects {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
}
.projects .content {
  margin-top: 30px;
}
.project-card {
  background-color: #fff;
  border: 1px solid black;
  min-height: 14em;
  width: 15em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
}
.projects .content {
  margin-top: 150px;
  margin-left: 0px;
  justify-content: space-between;
}
.project-card {
  background-color: #fff;
  border: 1px solid black;
  max-height: 15em;
  max-width: 10em;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
}
.project-card:hover {
  transform: scale(1.1);
  transition: 0.7s ease;
}
.project-card:hover .project-image {
  opacity: 0.95;
}
.project-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
/* .project-info {
  padding: 1em;
} */
.project-category {
  font-size: 0.8em;
  color: black;
}
.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}
/* #projects {
  display: flex;
  flex-direction: row;
} */
.proj-name {
  font-size: 0.9rem;
}
.more-details {
  text-decoration: none;
  color: #3a6cf4;
  font-size: 0.9em;
}
.more-details:hover {
  color: purple;
}
.contact .icon {
  font-size: 4.5em;
}
.contact .info h3 {
  color: black;
}
.contact .info p {
  font-size: 1.2em;
}
.footer {
  background-color: #f0f0f0;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}
.footer-title {
  font-size: 1.3em;
  font-weight: 600;
  color: black;
}
#author {
  color: #008db0;
  font-size: 1.3em;
  font-weight: 600;
  display: inline-block;
}
@media (max-width: 1023px) {

   body {
    font-size: 15px;
  }
  header {
    padding: 12px 20px;
  }
  .navigation a {
    padding-left: 10px;
    font-size: 1.4em;
  }
  .main #article h2{
    font-size: 0.9rem;

  }
  .main #article h2 #greet{
    font-size: 2.6em;
    /* flex-wrap: wrap; */
  }
  .main #Engineer{
    font-size: 2.6em;
   margin-left:-24px;
  }
  .main #desc,#see-more{
    font-size: 0.9em;
  }
  .main-btn{
    font-size: 1em;
  }
  .Proj-btn{
    font-size: 1em;
  }
  .card{
    flex-wrap: wrap;
    overflow: hidden;
  }


  /* .rs-element #portfolio-img {
    display: flex;
    max-width: 300px;
    max-height: 300px;
  }
  .title {
    font-size: 1.8em;
  }
  section {
    padding: 80px 20px;
  }
  .main {
    background-size: 350px;
  }
  .main h2 {
    font-size: 1.2em;
    font-weight: 400;
  } */
  /* .main h2 span {
    font-size: 1.5em;
  } */

  /* .main h3 {
    font-size: 0.9em;
  }
  .main .social-icons {
    font-size: 0.9em;
  }
  .main-btn {
    font-size: 0.9em;
  }

  .content {
    flex-direction: row;
    align-items: center;
  } */
  /* .main{
        background-position:right center;
    } */
  /* .project-card .project-info {
    font-size: 1.3em;
  }
  .project-title {
    font-size: 0.65em;
  }
  .projects {
    display: flex;
    flex-direction: row;
  }
  .cards,
  #services {
    display: flex;
    flex-direction: row;
  }
  #contact {
    display: flex;
    flex-direction: row;
  }
}*/
@media (max-width: 641px) {
  body {
    font-size: 10px;
  }
  .main h2 {
    font-size: 0.7em;
  }
  .main #Engineer {
    font-size: 0.9em;
    margin-left: -8px;
  }

  .main #article #greet {
    font-size: 0.9em;
    font-weight: 600;
  }
  #Engineer {
    font-size: 1em;
  }

  .main-content h2 {
    font-size: 0.3em;
  }
  .main-content span {
    font-size: 0.6 em;
  }
 .social-icons {
    font-size: 1em;
    display: flex;
    justify-content: center;

    flex-direction: column;
  }
   .project-card .project-info {
    font-size: 1.5em;
  } 
  .proj-name {
    font-size: 1.5em;
  }

  .main-content h3 {
    font-size: 0.4em;
  }
  .main {
    background-size: 250px;
  }

  .rs-element #portfolio-img {
    max-width: 195px;
    max-height: 195px;
  }
  .content {
    display: flex;
    flex-direction: column;
    
    align-items: center;

  }
  .project-title {
    font-size: 0.59em;
  }
  .project-card {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
  }
  .card .info p {
    font-size: 1.2em;
  }
  .footer {
    font-size: 1.2em;
  }
/*  
  {
    display: flex;
    flex-direction: column; 
   }  */ */
  /* .cards {
    display: flex;
    flex-direction: column;
  } */
/* } */
}
 @media (max-width: 300px) {
  body {
    font-size: 8px;
  }
  .navigation {
    font-size: 0.8em;
  }
}
  /* .main-content h2,
  #Engineer {
    font-size: 0.8em;
  }
  .main-content h3 {
    font-size: 0.7rem;
  }
  .main {
    background-size: 130px;
  }
  .navigation a {
    font-size: 0.8em;
  }

  .rs-element #portfolio-img {
    width: 70px;
    height: 70px;
  }
  .main div h2 {
    font-size: 0.8em;
  }
  .main div span {
    font: size 0.77em;
  }
  .main div h3 {
    font-size: 0.8em;
  }
  .content .card {
    font-size: 0.7em;
  }
  .content .card .info {
    flex-direction: row; */
    /* align-items: center; */
/* 
    font-size: 1.5em;
  }

  #contact,
  #services {
    display: flex;
    flex-direction: column;
    font-size: 7px;
    margin-top: 20px;
  }
  .navigation a {
    font-size: 0.7em;
  }
  .project-title {
    font-size: 0.59em;
  }
  .project-card {
    display: flex;
    flex-direction: column;
  }
  .project-card .project-image img {
    width: 100%;
  }
  .card .info p {
    font-size: 7px;
  }
  .footer {
    font-size: 0.5em;
  }
  .social-icons a i {
    font-size: 0.6em;
    display: flex;
    flex-direction: column;
  }
  .main-btn {
    font-size: 0.6em;
  }
  .projects,
  .card {
    display: flex;
    flex-direction: column;
  }
  .content .project-card {
    display: flex;
    flex-direction: column;
  } */
/* .cards {
    display: flex;
    flex-direction: column;
  } */
/* } 